<div class="ms-content-wrapper">
    <div class="row">
        <!--div class="col-md-12">
            <h1 class="db-header-title">Bienvenido a Sabor de la India</h1>
        </div-->
        <a href="https://drive.google.com/uc?export=download&id=1KercHq-iDEa4cjoxghoyEQu4hUTt0Nru" download>
            <button style="font-size: 20px; font-weight: bold; background-color: #F97B22; border: none; padding: 10px 20px; color: white;">
              DESCARGAR MENU
            </button>
          </a>
          
        <div class="col">
            <img src="../assets/imagenes/16.png" class="img-fluid" width="2000px">
        </div>
    </div>
</div>
 