<nav class="navbar ms-navbar" style="background-color: #586B58; width: 103%;">
    <div class="ms-aside-toggler ms-toggler pl-0" (click)="navToggle()"> 
        <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
    </div>
    <div class="logo-sn logo-sm ms-d-block-sm">
        <a class="pl-0 ml-0 text-center navbar-brand mr-0" routerLink="/">
            <img src="assets/img/costic/costic-logo-84x41.png" alt="logo"> 
        </a>
    </div>
    <ul class="ms-nav-list ms-inline mb-0" id="ms-nav-options">
        <li ngbDropdown class="ms-nav-item ms-nav-user dropdown">
            <a href="javascript:void(0)" id="userDropdown" class="toggle-icon-none" ngbDropdownToggle>
                <img class="ms-user-img ms-img-round float-right" src="assets/img/costic/customer-6.jpg" alt="people">
            </a>
            <ul class="dropdown-menu dropdown-menu-right user-dropdown" ngbDropdownMenu>
                <li class="dropdown-menu-header">
                    <h6 class="dropdown-header ms-inline m-0"><span class="text-disabled">Welcome</span></h6>
                </li>
                <li class="dropdown-menu-footer">
                    <a class="media fs-14 p-2" routerLink=""> <span><i class="flaticon-shut-down mr-2"></i> Logout</span> </a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="ms-toggler ms-d-block-sm pr-0 ms-nav-toggler" (click)="optionsToggle()"> <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
    </div>
</nav>