<div class="body ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar" id="body">
    <app-sidenav></app-sidenav>
    <main class="body-content">
        <app-topbar></app-topbar>
        <app-content></app-content>
    </main>
    <app-quickbar></app-quickbar>
</div>
<ng-template #content let-modal>
    <div class="modal-body">
        <button type="button" class="close" (click)="modal.dismiss('Cross click')"><span>&times;</span></button>
        <div class="ms-auth-container">
            <div class="ms-auth-col">
                <div class="ms-auth-form">
                    <form [formGroup]="loginForm" (validSubmit)="onSubmit()" class="clearfix">
                        <h1 style="text-align: center;">Bienvenido</h1>
                        <p  style="text-align: center;">REALICE AQUI SUS PEDIDOS</p>       
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-template>
