<!--CUSTOMERS-->
<div class="container">
    <div class="row text-center mt-4">
      <div class="col">
        <img src="../assets/imagenes/5.png" alt=""
          class="img-fluid" width="500px">
      </div>
    </div>
    <div class="row text-center mt-5">
      <div class="col">
        <h2 style="font-size: 80px;">RESERVACIONES</h2>
      </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <label for="txtNombre" class="from-label">Id</label>
            <input type="text" name="id" id="txtNombre" class="form-control" [(ngModel)]="reservation.ReservationID">
          </div>
      <div class="col-md-4">
        <label for="txtNombre" class="from-label">Descripcion</label>
        <input type="text" name="id" id="txtNombre" class="form-control" [(ngModel)]="reservation.Description">
      </div>
      <div class="col-md-4">
        <label for="txtNombre" class="from-label">Fecha Reservación</label>
        <input type="date" name="id" id="txtNombre" class="form-control" [(ngModel)]="reservation.ReservationDate">
      </div>
      <div cl ass="col-md-4">
        <label for="txtNombre" class="from-label">Cantidad de Personas</label>
        <input type="text" name="id" id="txtNombre" class="form-control" [(ngModel)]="reservation.QuantityPersons">
      </div>
      <div class="col-md-4">
        <label for="cmbCliente" class="form-label" style="font-size: larger; font-weight: bold;">Nombre Cliente</label>
        <select id="cmbCliente" class="form-control" [(ngModel)]="reservation.CustomerID" name="cmbCliente">
          <option *ngFor="let Customer of Customers" [value]="Customer">{{ Customer }}</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="txtId" class="from-label">Costo de Reservación</label>
        <input type="text" name="id" id="txtId" class="form-control" [(ngModel)]="reservation.ReservationCost">
      </div>
      <div class="col-md-4">
        <label for="txtId" class="from-label">Tiempo de Reservación</label>
        <input type="text" name="id" id="txtId" class="form-control" [(ngModel)]="reservation.ReservationTime">
      </div>
      <div class="col-md-4">
        <label for="txtId" class="from-label">Estado</label>
        <input type="text" name="id" id="txtId" class="form-control" [(ngModel)]="reservation.Status">
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <button class="btn btn-success m-2" type="button" (click)="AddReservation(reservation)">Agregar</button>
        <button class="btn btn-success m-2" type="button" (click)="onChangeState(reservation)">Activar o Desactivar</button>
        <button class="btn btn-warning m-2" type="button" (click)="UpdateReservation(reservation)">Modificar</button>
        <button class="btn btn-primary m-2" type="button" (click)="clear()">Limpiar</button>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <table id="dtMascota" class="table table-striped" style="width: 100%;">
          <thead>
            <tr>
              <th>Seleccionar</th>
              <th>Id</th>
              <th>Descripcion</th>
              <th>Fecha de Reservacion</th>
              <th>Cantidad de Personas</th>
              <th>Nombre del Cliente</th>
              <th>Costo de Reservacion</th>
              <th>Tiempo de reservacion</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of datatable">
              <td><input type="button" value="Seleccionar" (click)="onSetData(item)"></td>
              <!-- varibales de api -->
              <td> {{ item.ReservationID }} </td>
              <td> {{ item.Description }} </td>
              <td> {{ item.ReservationDate }} </td>
              <td> {{ item.QuantityPersons }} </td>
              <td> {{ item.CustomerID }} </td>
              <td> {{ item.ReservationCost }} </td>
              <td> {{ item.ReservationTime }} </td>
              <td> {{ item.Status }} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>