<div class="ms-content-wrapper ms-auth">
    <div class="ms-auth-container">
      <div class="ms-auth-bg">
        <img src="../assets/imagenes/16.png" class="img-fluid" width="1600" height="1600">
      </div>
      <div class="ms-auth-col">
        <div class="ms-auth-form">
          <form [formGroup]="loginForm" (submit)="login()" class="clearfix">
            <h1>Inicio de sesión</h1>
            <p>Ingresa tu usuario y contraseña</p>
            <div class="mb-3">
              <label>Usuario</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Usuario" formControlName="username" id="user" required="required" [(ngModel)]="username">
              </div>
            </div>
            <div class="mb-2">
              <label>Contraseña</label>
              <div class="input-group">
                <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" id="contrasena" required="required" [(ngModel)]="password">
              </div>
            </div>
            <!--div class="form-group">
              <label class="ms-checkbox-wrap">
                <input class="form-check-input" type="checkbox" value="">
                <i class="ms-checkbox-check"></i>
              </label>
              <span> Remember Password </span>
            </div--> 
            <button class="btn btn-primary mt-4 d-block w-100" type="submit" (click)="login()">Ingresar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <ng-template #modalone let-modal>
    <div class="modal-body text-center">
      <button type="button" class="close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <i class="flaticon-secure-shield d-block"></i>
      <h1>Forgot Password?</h1>
      <p>Enter your email to recover your password</p>
      <form>
        <div class="ms-form-group has-icon">
          <input type="text" placeholder="Email Address" class="form-control" name="forgot-password" value="">
          <i class="material-icons">email</i>
        </div>
        <button type="submit" class="btn btn-primary shadow-none">Reset Password</button>
      </form>
    </div>
  </ng-template>
  